<div class="col-md-9" role="main">
    {{#each collections.sidebar}}
        <h3 id="{{id}}">
            <a name="{{id}}" class="anchor"aria-hidden="true"></a>
            {{topic}}
        </h3>
        <p>{{description}}</p>

        <div class="col-md-12">
            {{#each items}}
                <hr />
                <br />
                <h3 id="{{link}}">
                    <a name="{{link}}" class="anchor"aria-hidden="true" /></a>
                    {{topic}}
                </h3>
                {{partial this.link this}}
            {{/each}}
        </div>
    {{/each}}
</div>